<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order - VK Enterprise</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../css/style.min.css" />
    <link rel="stylesheet" href="../../css/form.css">
  </head>
  <body>
    <nav class="navbar bg-white border-bottom dashboard_header">
      <div class="container-fluid">
        <div class="d-flex align-items-center navbar-header">
          <button class="menu-icon" id="menu-toggler">
            <i class="fa-solid fa-bars text-black text-secondary"></i>
          </button>
          <a href="/" class="navbar-brand">
            <img src="../img/logo.svg" alt="logo" class="logo" height="35" />
          </a>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-3">
          <div class="">
            <button
              class="btn notification-icon"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              onclick="markNotificationAsRead()"
            >
              <i class="fa-solid fa-bell text-black"></i>
              <span class="badge badge-danger bg-danger" id="notification-count"
                >0</span
              >
            </button>
            <ul class="dropdown-menu" id="notifications">
              <!-- <li class="border-bottom">
                                <a class="dropdown-item text-wrap" href="#"
                                    >Action</a
                                >
                            </li> -->
            </ul>
          </div>
          <button
            style="width: 30px; height: 30px"
            class="btn bg-primary-subtle rounded-circle d-flex align-items-center justify-content-center"
            id="profilebutton"
          >
            <i class="fa-solid fa-user text-black"></i>
          </button>
        </div>
      </div>
    </nav>
    <!-- <div class="bashboard_main"> -->
    <!-- sidebar -->
    <div
      class="bg-white border-end d-flex flex-column justify-content-between align-items-center dashboard_sidebar"
      id="menu"
    >
      <ul>
        <li>
          <a href="/dashboard">
            <i class="fa-solid fa-house"></i>
            Home
          </a>
        </li>
        <li>
          <a href="/services">
            <i class="fa-solid fa-toolbox"></i>
            Services
          </a>
        </li>
        <li>
          <a href="/orders">
            <i class="fa-solid fa-cart-shopping"></i>
            Orders
          </a>
        </li>
        <li>
          <a href="/transactions">
            <i class="fa-solid fa-money-bill-transfer"></i>
            Transactions
          </a>
        </li>
        <li>
          <a href="/inquiries">
            <i class="fa-solid fa-circle-question"></i>
            Inquiries
          </a>
        </li>
      </ul>
      <div class="logout-btn">
        <button onclick="logout(event)">
          <i class="fa-solid fa-sign-out"></i>
          Logout
        </button>
      </div>
    </div>
    <!-- main content -->
    <div class="dashboard_content">
      <div class="container new-order-form">
        <form class="row row-cols-1 row-cols-lg-3 g-2 w-100 mb-4">
          <div class="col col-lg-8 pe-lg-4">
            <h3 class="m-0 mb-3">Enter Order Details</h3>
            <p>
              (<span class="text-danger">*</span>) marked fields are required
            </p>

            <!-- ! form fields -->
            <div class="row row-cols-1 row-cols-md-2 mb-2 g-3">
              <div class="col">
                <label class="form-label mb-2" for="pcb-name-input"
                  >PCB Name
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter PCB Name"
                    name="pcb-name"
                    id="pcb-name-input"
                    required
                    autofocus
                  />
                </div>
              </div>
              <div class="col">
                <label class="form-label mb-2" for="pcb-type-input"
                  >PCB Type
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <select
                    name="pcb-type"
                    id="pcb-type-input"
                    class="form-select"
                    required
                    disabled
                  >
                    <option value="MCPCB">Multilayer PCB</option>
                  </select>
                </div>
              </div>
              <div class="col col-md-12" id="pcb-size">
                <p class="form-label mb-2">PCB Size</p>
                <div class="row row-cols-1 row-cols-md-2 g-3">
                  <div class="col">
                    <input
                      type="radio"
                      class="btn-check"
                      id="pcb-size-known"
                      name="pcb-size"
                      autocomplete="off"
                      value="known"
                    />
                    <label
                      class="btn btn-outline-primary w-100"
                      for="pcb-size-known"
                    >
                      known
                    </label>
                  </div>
                  <div class="col">
                    <input
                      type="radio"
                      class="btn-check"
                      id="pcb-size-unknown"
                      name="pcb-size"
                      value="unknown"
                      autocomplete="off"
                    />
                    <label
                      class="btn btn-outline-primary w-100"
                      for="pcb-size-unknown"
                    >
                      As Per Yours
                    </label>
                  </div>
                </div>
              </div>

              <div class="col col-md-12" id="pcb-type-title">
                <h5 class="text-center text-secondary">
                  You are filling Multilayer PCB order details
                </h5>
              </div>

              <div class="col col-md-12" id="ms-details">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                  <div class="col">
                    <label for="ms-old-pcb-name-input" class="form-label mb-2">
                      Any Old/Reference/Dimension File
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="ms-sample-old-file"
                        id="ms-sample-old-file-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                  <div
                    id="ms-sample-old-file-input-upload"
                    style="display: none"
                  >
                    <label for="formFile" class="form-label">Upload File</label>
                    <input class="form-control" type="file" />
                  </div>

                  <div class="col">
                    <label for="ms-sample-body-input" class="form-label mb-2">
                      Available Any Sample / Body
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="ms-sample-body"
                        id="ms-sample-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                  <div id="ms-picture-field" style="display: none">
                    <div class="col">
                      <label for="ms-picture-input" class="form-label mb-2"
                        >Take a Picture</label
                      >
                      <div class="input-group">
                        <input
                          type="file"
                          accept="image/*"
                          capture="camera"
                          class="form-control"
                          name="ms-picture"
                          id="ms-picture-input"
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col" id="mcpcb-led-package">
                    <label
                      for="mcpcb-led-package-input"
                      class="form-label mb-2"
                    >
                      PCB Design Type
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="mcpcb-led-package"
                        id="mcpcb-led-package-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="its same as sample copy">
                          its same as sample copy
                        </option>
                        <option value="Sample copy with update">
                          Sample copy with update
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- PCB Design Update Description -->
                  <div class="col">
                    <label
                      class="form-label mb-2"
                      for="pcb-design-update-description-input"
                    >
                      PCB Design Update Description
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter PCB Design Update Description"
                        name="pcb-design-update-description"
                        id="pcb-design-update-description-input"
                        required
                      />
                    </div>
                  </div>
                  <!-- Attached File -->
                  <div class="col">
                    <label for="attached-file-input" class="form-label mb-2">
                      PCB Design Update Attached File</label
                    >
                    <div class="input-group">
                      <input
                        type="file"
                        class="form-control"
                        name="schamatic-pcb-layer-picture"
                        id="attached-file-input"
                        required
                      />
                    </div>
                  </div>

                  <!-- Update in Copper Track Designing -->
                  <div class="col">
                    <label
                      for="ms-copper-track-designing-input"
                      class="form-label mb-2"
                    >
                      Any update in copper track designing
                    </label>
                    <div class="input-group">
                      <select
                        name="ms-copper-track-designing"
                        id="ms-copper-track-designing-input"
                        class="form-select"
                        required
                      >
                        <option disabled selected>Select an option</option>
                        <option value="client-request">As per client</option>
                        <option value="your-design">As per yours</option>
                      </select>
                    </div>
                  </div>

                  <div
                    id="ms-copper-track-designing-filed"
                    style="display: none"
                  >
                    <!-- 
                                Enter Details -->
                    <div class="col">
                      <label class="form-label mb-2" for="enter-details-input"
                        >Copper track designing long Text
                        <span class="text-danger">*</span>
                      </label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Details"
                          name="enter-details-input"
                          id="enter-details-input"
                          required
                        />
                      </div>
                    </div>

                    <!-- Attached File -->
                    <div class="col">
                      <label for="attached-file-input" class="form-label mb-2"
                        >Copper track designing attached file</label
                      >
                      <div class="input-group">
                        <input
                          type="file"
                          class="form-control"
                          name="schamatic-pcb-layer-picture"
                          id="attached-file-input"
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <!-- Design Updates Number of Points -->
                  <div class="col">
                    <label
                      class="form-label mb-2"
                      for="design-updates-points-input"
                    >
                      In Designing Updates NO. Of Points
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Number of Points"
                        name="design-updates-points-input"
                        id="design-updates-points-input"
                        required
                      />
                    </div>
                  </div>

                  <!-- Silk/Legend Layer -->
                  <div class="col">
                    <label for="ms-silk-legend-layer-input" class="form-label">
                      SILK/LEGEND Layer
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="ms-silk-legend-layer"
                        id="ms-silk-legend-layer-input"
                        class="form-select"
                        required
                      >
                        <option disabled selected>Select an option</option>
                        <option value="require">Require</option>
                        <option value="not-required">Not Required</option>
                      </select>
                    </div>
                  </div>

                  <div id="ms-silk-legend-layer-field" style="display: none">
                    <!-- Enter Silk/Legend Text -->
                    <div class="col">
                      <label for="ms-silk-legend-text-input" class="form-label">
                        Enter Silk/LEGEND Text
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Silk/LEGEND Text"
                        name="ms-silk-legend-text-input"
                        id="ms-silk-legend-text-input"
                      />
                    </div>

                    <!-- Upload Silk/Legend File -->
                    <div class="col" style="margin-top: 10px;">
                      <label for="ms-silk-legend-file-input" class="form-label">
                        Upload Silk/LEGEND File
                      </label>
                      <input
                        type="file"
                        class="form-control"
                        name="ms-silk-legend-file-input"
                        id="ms-silk-legend-file-input"
                      />
                    </div>
                  </div>

                  <!--TOP SOLDER/MASK LAYER -->
                  <div class="col">
                    <label
                      for="ms-solder-mask-layer-text-input"
                      class="form-label"
                    >
                      Top SOLDER/MASK Layer Information
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter top SOLDER/MASK Layer text"
                      name="ms-solder-mask-layer-text-input"
                      id="ms-solder-mask-layer-text-input"
                    />
                  </div>

                  <!--TOP SOLDER/MASK LAYER File -->
                  <div class="col">
                    <label
                      for="ms-solder-mask-layer-file-input"
                      class="form-label"
                    >
                      Top SOLDER/MASK Layer Information File
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="ms-solder-mask-layer-file-input"
                      id="ms-solder-mask-layer-file-input"
                    />
                  </div>

                  <!-- COPPER LAYER -->
                  <div class="col">
                    <label for="ms-copper-layer-text-input" class="form-label">
                      COPPER Layer Information Text
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter COPPER Layer Text"
                      name="ms-copper-Layer-text-input"
                      id="ms-copper-Layer-text-input"
                    />
                  </div>

                  <!-- COPPER Layer File -->
                  <div class="col">
                    <label for="copper-Layer-file-input" class="form-label">
                      COPPER Layer Information File
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="ms-copper-layer-file-input"
                      id="ms-copper-layer-file-input"
                    />
                  </div>

                  <!-- BOTTOM  SILK/LEGEND LAYERr -->
                  <div class="col">
                    <label
                      for="ms-bottom-silklegend-layer-input"
                      class="form-label"
                    >
                      Bottom SILK/LEGEND Layer
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="ms-bottom-silklegend-layer"
                        id="ms-bottom-silklegend-layer-input"
                        class="form-select"
                        required
                      >
                        <option disabled selected>Select an option</option>
                        <option value="require">Require</option>
                        <option value="not-required">Not Required</option>
                      </select>
                    </div>
                  </div>

                  <div
                    id="ms-bottom-silklegend-layer-field"
                    style="display: none"
                  >
                    <!-- EnterBOTTOM SILK/LEGEND LAYER Text -->
                    <div class="col">
                      <label for="bottom-silk/legend-layer" class="form-label">
                        Bottom SILK LEGEND Layer Information
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Bottom SILK/LEGEND Layer Text"
                        name="ms-bottom-silk/legend-layer"
                        id="ms-bottom-silk/legend-layer"
                      />
                    </div>

                    <!-- Upload BOTTOM SILK/LEGEND LAYER File -->
                    <div class="col">
                      <label
                        for="ms-bottom-silk/legend-layer"
                        class="form-label"
                      >
                        Upload Bottom SILK/LEGEND Layer File
                      </label>
                      <input
                        type="file"
                        class="form-control"
                        name="ms-bottom-silk/legend-layer"
                        id="ms-bottom-silk/legend-layer"
                      />
                    </div>
                  </div>

                  <!--BOTTOM SOLDER/MASK LAYER -->
                  <div class="col">
                    <label
                      for="ms-solder-mask-layer-text-input"
                      class="form-label"
                    >
                      Bottom SOLDER/MASK Layer Information
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Bottom SOLDER/MASK Layer Text "
                      name="ms-solder-mask-layer-text-input"
                      id="ms-solder-mask-layer-text-input"
                    />
                  </div>

                  <!--BOTTOM SOLDER/MASK LAYER File -->
                  <div class="col">
                    <label
                      for="ms-solder-mask-layer-file-input"
                      class="form-label"
                    >
                      Upload Bottom SOLDER/MASK Layer File
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="ms-solder-mask-layer-file-input"
                      id="ms-solder-mask-layer-file-input"
                    />
                  </div>

                  <!--BOTTOM COPPER LAYER -->
                  <div class="col">
                    <label
                      for="ms-bottom-copper-layer-text-input"
                      class="form-label"
                    >
                      Bottom COPPER Layer Information
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Bottom COPPER Layer text"
                      name="ms-copper-layer-text-input"
                      id="ms-copper-layer-text-input"
                    />
                  </div>

                  <!--BOTTOM COPPER LAYER File -->
                  <div class="col">
                    <label for="ms-copper-layer-file-input" class="form-label">
                      Upload Bottom COPPER Layer Information File
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="ms-copper-layer-file-input"
                      id="ms-copper-layer-file-input"
                    />
                  </div>

                  <!--INNER COPPER LAYER -->
                  <div class="col">
                    <label
                      for="ms-inner-copper-layer-text-input"
                      class="form-label"
                    >
                      Inner COPPER Layer Information Text
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Inner COPPER Layer Text"
                      name="ms-copper-layer-text-input"
                      id="ms-copper-layer-text-input"
                    />
                  </div>

                  <!--INNER COPPER LAYER File -->
                  <div class="col">
                    <label for="ms-copper-layer-file-input" class="form-label">
                      Upload Inner COPPER Layer Information File
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="ms-copper-layer-file-input"
                      id="ms-copper-layer-file-input"
                    />
                  </div>

                  <div class="col col-md-12 switchdiv">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="multi-layer-form-switch">
                      <label class="form-check-label" for="multi-layer-form-switch">Required Stencile</label><br>
                      <span class="noteText">Note: Rs. 250 (Minimum Size) will be added.</span>
                    </div>
                    <div id="multi-layer-form" style="display: none;">
                      <hr>
                      <div class="col gerber-file-attachment-file mt-3">
                        <label class="form-label mb-2" for="gerber-file-attachment-file-input">Gerber File Attachment
                          <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                          <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                          <input type="file" class="form-control" name="gerber-file-attachment-file"
                            id="gerber-file-attachment-file-input" required="">
                        </div>
                      </div>
                      <div class="input-group mt-3">
                        <select name="multi-layer-form-text" id="multi-layer-form-text" class="form-select" required>
                          <option value="" disabled selected>
                            Select an option
                          </option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </div>
                      <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Enter Text" id="multi-layer-text" required />
                      </div>
                    </div>
                  </div>
                      <!-- CAM/Panelization -->
                <div class="col col-md-12 switchdiv">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="multi-layer-CAMPanelizationswitch">
                    <label class="form-check-label" for="multi-layer-CAMPanelizationswitch">Required CAM/Panelization</label><br>
                    <span class="noteText">Note: Rs. 250 (Minimum Size) will be added.</span>
                  </div>
                  <div id="multi-layer-cam-panellization-div" style="display: none;">
                    <hr>
                    <div class="col gerber-file-attachment-file mt-3">
                      <label class="form-label mb-2" for="gerber-file-attachment-file-input">Gerber File Attachment
                        <span class="text-danger">*</span>
                      </label>
                      <div class="input-group">
                        <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                        <input type="file" class="form-control" name="gerber-file-attachment-file"
                          id="gerber-file-attachment-file-input" required="">
                      </div>
                    </div>
                    <div class="form-row mt-2">
                      <label for="panelization">Panelization / Panel Up</label>
                      <select name="PANELLIZATION /PANEL UP" id="any-related-text-input" class="form-select" required>
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                      <div class="row mt-2">
                        <div class="col-md-3">
                          <label for="xWidth">X-Width Side</label>
                          <input type="number" class="form-control" id="xWidth">
                        </div>
                        <div class="col-md-3">
                          <label for="yLength">Y-Length Side</label>
                          <input type="number" class="form-control" id="yLength">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <label for="pcbGap">PCB Between Gap / Clearance</label>
                      <input type="number" class="form-control" id="pcbGap">
                    </div>
                    <div class="form-group">
                      <label for="trackClearance">In PCB Track to Track Clearance</label>
                      <input type="number" class="form-control" id="trackClearance">
                    </div>
                    <!-- Panelization Billing Amount -->
                  <div class="form-group mt-3">
                    <label
                      for="panelization-billing-amount-input"
                      class="form-label"
                    >
                      PANELIZATION / CAM WORK Billing Amount
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Billing Amount"
                      name="panelization-billing-amount-input"
                      id="panelization-billing-amount-input"
                    />
                  </div>
                    <div class="form-group">
                      <label for="relatedText-cam">Any Related Text</label>
                      <select class="form-control" id="relatedText-cam">
                        <option value="" disabled selected>Select an option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                    <div class="form-group" id="relatedText-cam-div">
                      <label for="relatedText-cam-longText">Long Text</label>
                      <input class="form-control" id="relatedText-cam-longText" rows="3" />
                    </div>
                    <div class="col file-attachment-file mt-3">
                      <label class="form-label mb-2" for="cam-file-input">File Upload
                        <span class="text-danger">*</span>
                      </label>
                      <div class="input-group">
                        <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                        <input type="file" class="form-control" name="file-attachment-file" id="cam-file-input"
                          required="">
                      </div>
                    </div>
                  </div>
                </div>
                  <!-- Bill of Material -->
                 <div class="col col-md-12 switchdiv">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="multi-layer-bomSwitch">
                    <label class="form-check-label" for="multi-layer-bomSwitch">Required BOM</label><br>
                    <span class="noteText">Note: Rs. 450 (Minimum Size) will be added.</span>
                  </div>
                  <div id="bom-div" style="display: none;">
                    <hr>
                    <!-- PCB Image -->
                    <div class="form-group mt-3">
                      <label for="pcbTopImage">Top Side Image Attachment</label>
                      <input type="file" class="form-control" id="pcbTopImage">
                    </div>

                    <div class="form-group mt-3">
                      <label for="pcbBottomImage">Bottom Side Image Attachment</label>
                      <input type="file" class="form-control" id="pcbBottomImage">
                    </div>

                    <!-- Layers Type -->
                    <div class="form-group mt-3">
                      <label for="layersType">Layers Type in Numbers</label>
                      <input type="number" class="form-control" id="layersType">
                    </div>
                    <!-- Any Related Text -->
                    <div class="form-group mt-3">
                      <label for="relatedTextOption-bom">Any Related Text*</label>
                      <select class="form-control" id="relatedTextOption-bom">
                        <option value="" disabled selected>Select an option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>

                    <!-- Long Text -->
                    <div class="form-group mt-3" id="bom-text-div">
                      <label for="longText">Long Text</label>
                      <input class="form-control" id="longText" rows="3" />
                    </div>

                      <!-- BOM Billing Amount -->
                  <div class="form-group mt-3">
                    <label for="bom-billing-amount-input" class="form-label">
                      Bill of Material (BOM) Billing Amount
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Billing Amount"
                      name="bom-billing-amount-input"
                      id="bom-billing-amount-input"
                    />
                  </div>

                    <!-- Camera Shot -->
                    <div class="form-group mt-3">
                      <label for="cameraShot">Camera Shot</label>
                      <input type="file" class="form-control" id="cameraShot">
                      <b class="form-text text-muted">
                        1) - If Possible Provide Fresh PCB/Old PCB Not Capture Proper Components Value<br>
                        2) - BOM File Only for Sample Purpose (Not for Quantities)</b>
                    </div>
                  </div>
                </div>

                <!-- Design Relating Notes/Queries -->
                <div class="col">
                  <label
                    for="design-relating-notes-input"
                    class="form-label mb-2"
                  >
                    Any Design Relating Note/Queries
                    <span class="text-danger">*</span>
                  </label>
                  <div class="input-group">
                    <select
                      name="any-design-relating"
                      id="any-design-relating-input"
                      class="form-select"
                      required
                    >
                      <option value="require">Yes</option>
                      <option value="not-required">No</option>
                    </select>
                  </div>
                </div>

                <!-- ANY DESIGN RELATING NOTE/QUERIES DETAILS -->
                <div class="col">
                  <label
                    for="any-design-relating-input"
                    class="form-label"
                  >
                    Any Design Relating Note/Queries Details
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Any Design Relating Note/Queries Details"
                    name="any-design-relating-input-details"
                    id="design-relating-input-details"
                    required
                  />
                </div>

                <!-- ANY DESIGN RELATING NOTE/QUERIES File -->
                <div class="col">
                  <label
                    for="any-design-relating-input-file"
                    class="form-label"
                  >
                    Any Design Relating Note/Queries File
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="file"
                    class="form-control"
                    name="any-design-relating-queries-input"
                    id="any-design-relating-queries-input-file"
                    required
                  />
                </div>

                <!-- Terms and condition -->
                <div class="col col-md-12">
                  <label for="Terms-and-condition" class="form-label mb-2">
                    <input type="checkbox" />
                    Carefully Once check All Fill Details Before Save. (After
                    Designing A Simple Changes Charge Will Be A Extra(*550Rs.
                    + Depends On Changes Rate)
                    <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="col col-md-12">
                  <label for="Terms-and-condition" class="form-label mb-2">
                    <input type="checkbox" />
                    All Designs Are For Samples only. Never Work For
                    Quantities. Not Responsible For Quantities. (After No
                    Further Argument Will Be Heard). Also, Check All The
                    Designs From Your Side And Then Proceed.<span
                      class="text-danger"
                      >*</span
                    >
                  </label>
                </div>

                <!-- Urgent -->
                <div class="col col-md-12">
                  <input type="checkbox" />
                  <label for="Terms-and-condition" class="form-label mb-2">
                    If Urgent/Instaneous it will charged more 3000Rs
                  </label>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col h-100 d-flex flex-column justify-content-between p-3 bg-light rounded"
          >
            <h3 class="text-center">Invoice Section</h3>
            <div class="my-5 text-danger">price details will appear here</div>
            <div class="">
              <ul class="list-unstyled">
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Please review all the filled details carefully before saving.
                  Please note that if any minor changes are requested after the
                  design has been completed, additional charges may apply.
                </li>
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Designs are for samples only and may not work for larger
                  quantities. We are not responsible for quantity issues and
                  cannot entertain arguments once designs are approved and
                  produced.
                </li>
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Please ensure that you review all designs from your end before
                  proceeding.
                </li>
              </ul>
              <p>
                Do You Agree With All Above Points?
                <span class="text-danger">*</span>
              </p>
              <input
                type="checkbox"
                class="btn-check"
                id="invoice-verify-all-details-input"
                required
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary w-100"
                for="invoice-verify-all-details-input"
                id="acceptTermsLabel"
              >
                Yes
              </label>

              <button
                type="submit"
                class="btn btn-primary w-100 mt-3"
                id="placeOrderButton"
                disabled
              >
                Place Order
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/ms-order.js"></script>
    <script>
      window.onload = mcpcbNewOrderFormChangeHandler();
    </script>
  </body>
</html>
