<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order - VK Enterprise</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../css/style.min.css" />
    <link rel="stylesheet" href="../../css/form.css">
  </head>

  <body>
    <nav class="navbar bg-white border-bottom dashboard_header">
      <div class="container-fluid">
        <div class="d-flex align-items-center navbar-header">
          <button class="menu-icon" id="menu-toggler">
            <i class="fa-solid fa-bars text-black text-secondary"></i>
          </button>
          <a href="/" class="navbar-brand">
            <img src="../img/logo.svg" alt="logo" class="logo" height="35" />
          </a>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-3">
          <div class="">
            <button
              class="btn notification-icon"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              onclick="markNotificationAsRead()"
            >
              <i class="fa-solid fa-bell text-black"></i>
              <span class="badge badge-danger bg-danger" id="notification-count"
                >0</span
              >
            </button>
            <ul class="dropdown-menu" id="notifications">
              <!-- <li class="border-bottom">
                                <a class="dropdown-item text-wrap" href="#"
                                    >Action</a
                                >
                            </li> -->
            </ul>
          </div>
          <button
            style="width: 30px; height: 30px"
            class="btn bg-primary-subtle rounded-circle d-flex align-items-center justify-content-center"
            id="profilebutton"
          >
            <i class="fa-solid fa-user text-black"></i>
          </button>
        </div>
      </div>
    </nav>
    <!-- <div class="bashboard_main"> -->
    <!-- sidebar -->
    <div
      class="bg-white border-end d-flex flex-column justify-content-between align-items-center dashboard_sidebar"
      id="menu"
    >
      <ul>
        <li>
          <a href="/dashboard">
            <i class="fa-solid fa-house"></i>
            Home
          </a>
        </li>
        <li>
          <a href="/services">
            <i class="fa-solid fa-toolbox"></i>
            Services
          </a>
        </li>
        <li>
          <a href="/orders">
            <i class="fa-solid fa-cart-shopping"></i>
            Orders
          </a>
        </li>
        <li>
          <a href="/transactions">
            <i class="fa-solid fa-money-bill-transfer"></i>
            Transactions
          </a>
        </li>
        <li>
          <a href="/inquiries">
            <i class="fa-solid fa-circle-question"></i>
            Inquiries
          </a>
        </li>
      </ul>
      <div class="logout-btn">
        <button onclick="logout(event)">
          <i class="fa-solid fa-sign-out"></i>
          Logout
        </button>
      </div>
    </div>
    <!-- main content -->
    <div class="dashboard_content">
      <div class="container new-order-form">
        <form class="row row-cols-1 row-cols-lg-3 g-2 w-100 mb-4">
          <div class="col col-lg-8 pe-lg-4">
            <h3 class="m-0 mb-3">Enter Order Details</h3>
            <p>
              (<span class="text-danger">*</span>) marked fields are required
            </p>

            <!-- ! form fields -->
            <div class="row row-cols-1 row-cols-md-2 mb-2 g-3">
              <div class="col">
                <label class="form-label mb-2" for="pcb-name-input"
                  >PCB Name
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter PCB Name"
                    name="pcb-name"
                    id="pcb-name-input"
                    required
                    autofocus
                  />
                </div>
              </div>
              <div class="col">
                <label class="form-label mb-2" for="pcb-type-input"
                  >PCB Type
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <select
                    name="pcb-type"
                    id="pcb-type-input"
                    class="form-select"
                    required
                    disabled
                  >
                    <option value="Schamatic-to-PCB-layer">
                      LEDs / Schamatic-to-PCB-layers
                    </option>
                  </select>
                </div>
              </div>
              <div class="col col-md-12" id="pcb-size">
                <p class="form-label mb-2">PCB Size</p>
                <div class="row row-cols-1 row-cols-md-2 g-3">
                  <div class="col">
                    <input
                      type="radio"
                      class="btn-check"
                      id="pcb-size-known"
                      name="pcb-size"
                      autocomplete="off"
                      value="known"
                    />
                    <label
                      class="btn btn-outline-primary w-100"
                      for="pcb-size-known"
                    >
                      known
                    </label>
                  </div>
                  <div class="col">
                    <input
                      type="radio"
                      class="btn-check"
                      id="pcb-size-unknown"
                      name="pcb-size"
                      value="unknown"
                      autocomplete="off"
                    />
                    <label
                      class="btn btn-outline-primary w-100"
                      for="pcb-size-unknown"
                    >
                      As Per Yours
                    </label>
                  </div>
                </div>
              </div>
              <div class="col col-md-12" id="pcb-type-title">
                <h5 class="text-center text-secondary">
                  You are filling Schamatic To PCB order details
                </h5>
              </div>
              <div class="col col-md-12" id="Schamatic-to-PCB-layer-details">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                  <div class="col">
                    <label
                      for="schamatic-to-pcb-layer-old-pcb-name-input"
                      class="form-label mb-2"
                    >
                      Any Old/Reference/Dimension File
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="schamatic-to-pcb-layer-sample-old-file"
                        id="schamatic-to-pcb-layer-sample-old-file-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div
                    id="schamatic-to-pcb-layer-sample-old-file-input-upload"
                    style="display: none"
                  >
                    <label for="formFile" class="form-label">Upload File</label>
                    <input class="form-control" type="file" />
                  </div>

                  <div class="col">
                    <label
                      for="Schamatic-to-PCB-layer-sample-body-input"
                      class="form-label mb-2"
                    >
                      Available Any Sample / Body
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="Schamatic-to-PCB-layer-sample-body"
                        id="Schamatic-to-PCB-layer-sample-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                  <div
                    id="Schamatic-to-PCB-layer-picture-field"
                    style="display: none"
                  >
                    <div class="col">
                      <label
                        for="Schamatic-to-PCB-layer-picture-input"
                        class="form-label mb-2"
                        >Take a Picture</label
                      >
                      <div class="input-group">
                        <input
                          type="file"
                          accept="image/*"
                          capture="camera"
                          class="form-control"
                          name="Schamatic-to-PCB-layer-picture"
                          id="Schamatic-to-PCB-layer-picture-input"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="Schamtic / Drawing File"
                      >Schamtic / Drawing File<span class="text-danger"
                        >*</span
                      ></label
                    >
                    <div class="input-group">
                      <input
                        type="file"
                        class="form-control"
                        name="Schamtic-Drawing-input"
                        id="Schamtic-Drawing-input"
                        required
                      />
                    </div>
                  </div>

                  <div class="col">
                    <label for="Schamtic Bill Of Material"
                      >Schamtic Bill Of Material(BOM) File<span
                        class="text-danger"
                        >*</span
                      ></label
                    >
                    <div class="input-group">
                      <input
                        type="file"
                        class="form-control"
                        name="Schamtic-Bill-Of-Material"
                        id="Schamtic-Bill-Of-Material"
                        required
                      />
                    </div>
                  </div>

                  <div class="col">
                    <label
                      for="Schamatic-to-PCB-layer-sample-body-input"
                      class="form-label mb-2"
                    >
                      Schamtic To PCB Layers
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <select
                        name="Schamatic-to-PCB-layer-sample-body"
                        id="Schamatic-to-PCB-layer-sample-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Single Layer/Side</option>
                        <option value="no">Double Layer/Side</option>
                        <option value="no">Four Layer</option>
                        <option value="no">Six Layer</option>
                        <option value="no">Eight Layer</option>
                      </select>
                    </div>
                  </div>

                  
                  <div class="col">
                    <label for="Schamtic Bill Of Material">
                      PCB Dimension File
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        name="Schamtic-Bill-Of-Material"
                        id="Schamtic-Bill-Of-Material"
                        placeholder="X-Length(DIMENSION)-In MM"
                        required
                      />
                    </div>
                    <div class="input-group" style="margin-top: 5px;">
                      <input
                        type="number"
                        class="form-control"
                        name="Schamtic-Bill-Of-Material"
                        id="Schamtic-Bill-Of-Material"
                        placeholder="Y-Width(DIMENSION)-In MM"
                        required
                      />
                    </div>
                  </div>

                  <div class="col">
                    <label for="schamatic-to-pcb-track-related-body-input"
                      >Track Related Comments/Guide<span class="text-danger"
                        >*</span
                      ></label
                    >
                    <div class="input-group">
                      <select
                        name="trackRelated-body-input"
                        id="schamatic-to-pcb-track-related-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                    <div class="col select-1" style="display: none;">
                      <label for="text">Track Related Text</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Track Related Text"
                        required
                      />
                    </div>

                    <div class="col select-1"  style="display: none;">
                      <div class="input-group">
                        <label for="file upload"
                          >Upload Track Related File</label
                        >
                      </div>
                      <input
                        type="file"
                        class="form-control"
                        name="trackRelated-input"
                        id="trackRelated-input"
                        required
                      />
                    </div>

                  <div class="col">
                    <label for="schamatic-to-pcb-layer-related-body-input"
                      >Layers Related Any Comments/Guide<span
                        class="text-danger"
                        >*</span
                      ></label
                    >
                    <div class="input-group">
                      <select
                        name="layersRelated-body-input"
                        id="schamatic-to-pcb-layer-related-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                    <div class="col select-2" style="display: none;">
                      <label for="text">Layers Related Text</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Layers Related Text"
                        required
                      />
                    </div>

                    <div class="col select-2" style="display: none;">
                      <label for="text">Layers Related File</label>
                      <input
                        type="file"
                        class="form-control"
                        required
                      />
                    </div>

                  <div id="schamatic-to-pcb-layer-related-field" >
                    <div class="col">
                      <label for="text">Any Layout / Referance / Arreagemnt File</label>
                      <input
                        type="file"
                        class="form-control"
                        name="layerRelated-input"
                        id="layerRelated-input"
                        required
                      />
                    </div>
                  </div>

                  <div class="col">
                    <label for="schamatic-to-type-layer-related-body-input"
                      >Any Related Any Type Comments/Guide
                      <span class="text-danger">*</span
                      ></label
                    >
                    <div class="input-group">
                      <select
                        name="layersRelated-body-input"
                        id="schamatic-to-type-layer-related-body-input"
                        class="form-select"
                        required
                      >
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                    <div class="col select-3" style="display: none;">
                      <label for="text">Any Related Any Type Comments/Guide Text</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Any Related Any Type Comments/Guide Text"
                        required
                      />
                    </div>

                    <div class="col select-3" style="display: none;">
                      <div class="input-group">
                        <label for="file upload"
                          >Any Related Any Type Comments/Guide File</label
                        >
                      </div>
                      <input
                        type="file"
                        class="form-control"
                        name="layerRelated-input"
                        id="layerRelated-input"
                        required
                      />
                    </div>

                  
                  <!-- stencile -->
                  <div class="col col-md-12 switchdiv">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="stop-layer-form-switch">
                      <label class="form-check-label" for="stop-layer-form-switch">Required Stencile</label><br>
                      <span class="noteText">Note: Rs. 250 (Minimum Size) will be added.</span>
                    </div>
                    <div id="stop-layer-form" style="display: none;">
                      <hr>
                      <div class="col gerber-file-attachment-file mt-3">
                        <label class="form-label mb-2" for="gerber-file-attachment-file-input">Gerber File Attachment
                          <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                          <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                          <input type="file" class="form-control" name="gerber-file-attachment-file"
                            id="gerber-file-attachment-file-input" required="">
                        </div>
                      </div>
                      <div class="input-group mt-3">
                        <select name="stop-layer-form-text" id="stop-layer-form-text" class="form-select" required>
                          <option value="" disabled selected>
                            Select an option
                          </option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </div>
                      <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Enter Text" id="stop-layer-text" required />
                      </div>
                    </div>
                  </div>
                      <!-- CAM/Panelization -->
                <div class="col col-md-12 switchdiv">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="stop-layer-CAMPanelizationswitch">
                    <label class="form-check-label" for="stop-layer-CAMPanelizationswitch">Required CAM/Panelization</label><br>
                    <span class="noteText">Note: Rs. 250 (Minimum Size) will be added.</span>
                  </div>
                  <div id="stop-layer-cam-panellization-div" style="display: none;">
                    <hr>
                    <div class="col gerber-file-attachment-file mt-3">
                      <label class="form-label mb-2" for="gerber-file-attachment-file-input">Gerber File Attachment
                        <span class="text-danger">*</span>
                      </label>
                      <div class="input-group">
                        <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                        <input type="file" class="form-control" name="gerber-file-attachment-file"
                          id="gerber-file-attachment-file-input" required="">
                      </div>
                    </div>
                    <div class="form-row mt-2">
                      <label for="panelization">Panelization / Panel Up</label>
                      <select name="PANELLIZATION /PANEL UP" id="any-related-text-input" class="form-select" required>
                        <option value="" disabled selected>
                          Select an option
                        </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                      <div class="row mt-2">
                        <div class="col-md-3">
                          <label for="xWidth">X-Width Side</label>
                          <input type="number" class="form-control" id="xWidth">
                        </div>
                        <div class="col-md-3">
                          <label for="yLength">Y-Length Side</label>
                          <input type="number" class="form-control" id="yLength">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <label for="pcbGap">PCB Between Gap / Clearance</label>
                      <input type="number" class="form-control" id="pcbGap">
                    </div>
                    <div class="form-group">
                      <label for="trackClearance">In PCB Track to Track Clearance</label>
                      <input type="number" class="form-control" id="trackClearance">
                    </div>
                    <!-- Panelization Billing Amount -->
                  <div class="form-group mt-3">
                    <label
                      for="panelization-billing-amount-input"
                      class="form-label"
                    >
                      PANELIZATION / CAM WORK Billing Amount
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Billing Amount"
                      name="panelization-billing-amount-input"
                      id="panelization-billing-amount-input"
                    />
                  </div>
                    <div class="form-group">
                      <label for="relatedText-cam">Any Related Text</label>
                      <select class="form-control" id="relatedText-cam">
                        <option value="" disabled selected>Select an option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                    <div class="form-group" id="relatedText-cam-div">
                      <label for="relatedText-cam-longText">Long Text</label>
                      <input class="form-control" id="relatedText-cam-longText" rows="3" />
                    </div>
                    <div class="col file-attachment-file mt-3">
                      <label class="form-label mb-2" for="cam-file-input">File Upload
                        <span class="text-danger">*</span>
                      </label>
                      <div class="input-group">
                        <i class="fas fa-file-upload input-group-text" style="font-size: 1.5rem"></i>
                        <input type="file" class="form-control" name="file-attachment-file" id="cam-file-input"
                          required="">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Terms and condition -->
             <div class="col col-md-12">
               <label for="Terms-and-condition" class="form-label mb-2">
                 <input type="checkbox" />
                 Carefully Once check All Fill Details Before Save. (After
                 Designing A Simple Changes Charge Will Be A Extra(*550Rs.
                 + Depends On Changes Rate)
                 <span class="text-danger">*</span>
               </label>
             </div>

             <div class="col col-md-12">
               <label for="Terms-and-condition" class="form-label mb-2">
                 <input type="checkbox" />
                 All Designs Are For Samples only. Never Work For
                 Quantities. Not Responsible For Quantities. (After No
                 Further Argument Will Be Heard). Also, Check All The
                 Designs From Your Side And Then Proceed.<span
                   class="text-danger"
                   >*</span
                 >
               </label>
             </div>

             <!-- Urgent -->
             <div class="col col-md-12">
               <input type="checkbox" />
               <label for="Terms-and-condition" class="form-label mb-2">
                 If Urgent/Instaneous it will charged more 3000Rs + As Per Designs Charge/Rates.
               </label>
             </div>
                  
                </div>
                
                <div style="margin-top: 20px;"> 
                  <span style="font-size: 20px; font-weight: bold;">NOTE:-</span>
                  Order Amount According : THE COST OF DESIGN AS PER USED COMPONENTS PADS
                </div>
              </div>
            </div>
          </div>
          <div
            class="col h-100 d-flex flex-column justify-content-between p-3 bg-light rounded"
          >
            <h3 class="text-center">Invoice Section</h3>
            <div class="my-5 text-danger">price details will appear here</div>
            <div class="">
              <ul class="list-unstyled">
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Please review all the filled details carefully before saving.
                  Please note that if any minor changes are requested after the
                  design has been completed, additional charges may apply.
                </li>
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Designs are for samples only and may not work for larger
                  quantities. We are not responsible for quantity issues and
                  cannot entertain arguments once designs are approved and
                  produced.
                </li>
                <li class="mb-2">
                  <i class="fas fa-check-circle text-success"></i>
                  Please ensure that you review all designs from your end before
                  proceeding.
                </li>
              </ul>
              <p>
                Do You Agree With All Above Points?
                <span class="text-danger">*</span>
              </p>

              <input
                type="checkbox"
                class="btn-check"
                id="invoice-verify-all-details-input"
                required
              />
              <label
                class="btn btn-outline-primary w-100"
                for="invoice-verify-all-details-input"
                id="acceptTermsLabel"
              >
                Yes
              </label>

              <button
                type="submit"
                class="btn btn-primary w-100 mt-3"
                id="placeOrderButton"
                disabled
              >
                Place Order
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/s2p-order.js"></script>
    <script>
      window.onload = s2pNewOrderFormChangeHandler();
    </script>
  </body>
</html>
